<div class="title-container">
    <h2 class="decorated-title">Plan Comercio</h2>
</div>

<div class="content">
    <div class="left-section">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" placeholder="Placeholder">
        </div>
        <div class="form-group">
            <label>Precio</label>
            <input type="text" placeholder="Placeholder">
        </div>
    </div>
    <div class="right-section">
        <div class="grid">
            <div class="form-group">
                <label>Apellido Paterno</label>
                <input type="text" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>Apellido Materno</label>
                <input type="text" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>Apellido Materno</label>
                <input type="text" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>Apellido Paterno</label>
                <input type="text" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>Apellido Materno</label>
                <input type="text" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>Apellido Materno</label>
                <input type="text" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>B (kWh):</label>
                <input type="text" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>I (kWh):</label>
                <input type="text" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>P (kWh):</label>
                <input type="text" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>P. Transmisión:</label>
                <input type="text" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>C (mxn/kW):</label>
                <input type="text" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>D (mxn/kW):</label>
                <input type="text" placeholder="Placeholder">
            </div>
        </div>
    </div>
</div>

<div class="description-section">
    <h3>Descripción</h3>
    <textarea placeholder="Añade una Descripción......."></textarea>
</div>

<div class="button-group">
    <button class="update-button">Actualizar</button>
    <button class="cancel-button">Cancelar</button>
</div>