    <div class="container">
        <div class="table-container">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>Aprobación de Cotizaciones</h2>
                <div class="search-box">
                    <input class="form-control" type="text" placeholder="Search">
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Plan</th>
                        <th scope="col">Correo Electrónico</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Código Postal</th>
                        <th scope="col">Localidad</th>
                        <th scope="col">Municipio</th>
                        <th scope="col">Estado</th>
                        <th>      </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <th scope="col"><input type="checkbox"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
