<div class="title-container">
    <h2 class="decorated-title">Vista Cotización</h2>
</div>
<div class="form-wrapper">
    <div class="card section">
        <h2>Datos del Cliente</h2>
        <div class="form-container">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="apellido-paterno">Apellido Paterno</label>
                <input type="text" id="apellido-paterno" placeholder="Apellido Paterno">
            </div>
            <div class="form-group">
                <label for="apellido-materno">Apellido Materno</label>
                <input type="text" id="apellido-materno" placeholder="Apellido Materno">
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="text" id="telefono" placeholder="Teléfono">
            </div>
            <div class="form-group">
                <label for="celular">Celular</label>
                <input type="text" id="celular" placeholder="Celular">
            </div>
            <div class="form-group">
                <label for="correo">Correo Electrónico</label>
                <input type="email" id="correo" placeholder="Correo Electrónico">
            </div>
            <div class="form-group">
                <label for="telefono2">Teléfono</label>
                <input type="text" id="telefono2" placeholder="Teléfono">
            </div>
            <div class="form-group">
                <label for="codigo-postal">Código Postal</label>
                <input type="text" id="codigo-postal" placeholder="Código Postal">
            </div>
            <div class="form-group">
                <label for="localidad">Localidad</label>
                <input type="text" id="localidad" placeholder="Localidad">
            </div>
            <div class="form-group">
                <label for="municipio">Municipio</label>
                <input type="text" id="municipio" placeholder="Municipio">
            </div>
            <div class="form-group">
                <label for="estado">Estado</label>
                <input type="text" id="estado" placeholder="Estado">
            </div>
        </div>
    </div>

    <div class="card section">
        <h2>Datos de Consumo</h2>
        <div class="form-container">
            <div class="form-group">
                <label for="apellido-paterno-consumo">Apellido Paterno</label>
                <input type="text" id="apellido-paterno-consumo" placeholder="Apellido Paterno">
            </div>
            <div class="form-group">
                <label for="apellido-materno-consumo">Apellido Materno</label>
                <input type="text" id="apellido-materno-consumo" placeholder="Apellido Materno">
            </div>
            <div class="form-group">
                <label for="apellido-materno2-consumo">Apellido Materno</label>
                <input type="text" id="apellido-materno2-consumo" placeholder="Apellido Materno">
            </div>
            <div class="form-group">
                <label for="apellido-paterno2-consumo">Apellido Paterno</label>
                <input type="text" id="apellido-paterno2-consumo" placeholder="Apellido Paterno">
            </div>
            <div class="form-group">
                <label for="apellido-materno3-consumo">Apellido Materno</label>
                <input type="text" id="apellido-materno3-consumo" placeholder="Apellido Materno">
            </div>
            <div class="form-group">
                <label for="apellido-materno4-consumo">Apellido Materno</label>
                <input type="text" id="apellido-materno4-consumo" placeholder="Apellido Materno">
            </div>
        </div>

        <h2>Pago de CFE (Si Aplica)</h2>
        <div class="form-container">
            <div class="form-group">
                <label for="b-kwh">B (kWh)</label>
                <input type="text" id="b-kwh" placeholder="B (kWh)">
            </div>
            <div class="form-group">
                <label for="i-kwh">I (kWh)</label>
                <input type="text" id="i-kwh" placeholder="I (kWh)">
            </div>
            <div class="form-group">
                <label for="p-kwh">P (kWh)</label>
                <input type="text" id="p-kwh" placeholder="P (kWh)">
            </div>
            <div class="form-group">
                <label for="p-transmision">P. Transmisión</label>
                <input type="text" id="p-transmision" placeholder="P. Transmisión">
            </div>
            <div class="form-group">
                <label for="c-mxnkw">C (mxn/kW)</label>
                <input type="text" id="c-mxnkw" placeholder="C (mxn/kW)">
            </div>
            <div class="form-group">
                <label for="d-mxnkw">D (mxn/kW)</label>
                <input type="text" id="d-mxnkw" placeholder="D (mxn/kW)">
            </div>
        </div>
    </div>
</div>

<div class="button-group">
    <button class="update-button">Actualizar Campos</button>
    <button class="cancel-button">Cancelar</button>
</div> 